.counter-title{
    font-family: Arial, Helvetica, sans-serif;;
}

.counter-field{
    background-color: maroon;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.7rem;
    margin: 0.3rem;
    padding: 0 0.3 0 0.3rem;
}