.navbar-container{
    display: flex;
    justify-content: space-between;

    &-links{
        align-self: center;
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-right: 1rem;

        a{
            color: inherit;
            font-size: 1.5rem;
        }

        a:hover{
            color: maroon;
        }

        a:active{
        background-color: aqua;
        }
    }
}